@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Arial MT";
  font-display: swap;
  src: url("../Fonts/arial.ttf");
}
@font-face {
  font-family: Arial-ItalicMT;
  font-display: swap;
  src: url("../Fonts/ariali.ttf");
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../Fonts/georgia.ttf");
}
@font-face {
  font-family: "Times New Roman PSMT";
  font-display: swap;
  src: url("../Fonts/times.ttf");
}
.wrapper {
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.logo {
  max-width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 665px) {
  .header__container {
    justify-content: space-around;
    line-height: 0;
  }
}

.menu__burger {
  background: none;
}
.menu__burger .burger-element {
  display: none;
  background-color: #fff;
  width: 25px;
  height: 2px;
}
.menu__burger .burger-element:not(:first-child) {
  margin-top: 5px;
}
@media (max-width: 480px) {
  .menu__burger .burger-element {
    display: block;
  }
}
.menu .active-burger {
  border-color: #292929;
}

.menu .active-burger-element:not(:first-child) {
  margin-top: 0;
}
.menu .active-burger-element-01 {
  transform: rotate(45deg);
}
.menu .active-burger-element-02 {
  display: none;
}
.menu .active-burger-element-03 {
  transform: rotate(-45deg);
}
@media (max-width: 480px) {
  .menu__list {
    display: none;
  }
}
.menu {
  margin-left: 5px;
}
.menu__item {
  display: inline-block;
  margin-top: 32px;
}
@media (max-width: 665px) {
  .menu__item {
    margin-top: 10px;
  }
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.menu__link {
  color: #cdcdcd;
  font-family: "Arial MT";
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.8125rem;
  transition: 1s linear;
}
.menu__link::after {
  content: "";
  display: block;
  opacity: 0;
  height: 3px;
  border-radius: 2px;
  background-color: #f1cdb3;
  transition: 0.5s linear;
}
.menu__link:hover {
  color: #ffffff;
}
.menu__link:hover::after {
  opacity: 1;
}

.main {
  background: url("../Images/Main_page/Background-main-page.jpg") 0 0/cover no-repeat;
  width: 100%;
  height: 100%;
}
.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .main__container {
    justify-content: center;
  }
}
.main__img {
  max-width: 100%;
  padding-left: 10px;
  margin-right: -410px;
}
@media (max-width: 665px) {
  .main__img {
    width: 100%;
    margin-right: -300px;
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .main__img {
    display: none;
  }
}

.mian__content {
  max-width: 443px;
  padding-top: 80px;
}
@media (max-width: 665px) {
  .mian__content {
    padding: 100px 0px 50px;
  }
}
@media (max-width: 480px) {
  .mian__content {
    margin: 0 auto;
    text-align: center;
  }
}

.button {
  color: #292929;
  border-radius: 26px;
  background-color: #f1cdb3;
  transition: 0.5s linear;
}
.button:hover {
  box-shadow: 0px 0px 20px #848484;
}

.content {
  color: #ffffff;
  font-family: Georgia;
}
.content__title {
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3.5625rem;
  letter-spacing: 0.165rem;
  margin-bottom: 46px;
  max-width: 346px;
}
@media (max-width: 665px) {
  .content__title {
    margin-bottom: 10px;
    font-size: 2.1875rem;
  }
}
@media (max-width: 480px) {
  .content__title {
    max-width: 327px;
    margin: 0 auto;
  }
}
.content__sub-title {
  margin-bottom: 44px;
  color: #cdcdcd;
  font-family: "Arial MT";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (max-width: 665px) {
  .content__sub-title {
    font-size: 0.8125rem;
    margin-bottom: 30px;
  }
}
.content__button {
  padding: 20px 44px;
  font-family: Georgia;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 3.5625rem;
  letter-spacing: 0.06375rem;
}
@media (max-width: 665px) {
  .content__button {
    font-size: 0.9375rem;
    padding: 18px 42px;
  }
}

.title {
  color: #545454;
  font-family: Georgia;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.13125rem;
}
@media (max-width: 782px) {
  .title {
    font-size: 1.8rem;
  }
}

.about__container {
  margin: 90px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 568px) {
  .about__container {
    margin: 30px auto;
    flex-wrap: wrap;
  }
}
.about__img {
  margin-right: 120px;
  max-width: 100%;
}
@media (max-width: 853px) {
  .about__img {
    margin-right: 50px;
  }
}
@media (max-width: 782px) {
  .about__img {
    max-width: 30%;
  }
}
@media (max-width: 568px) {
  .about__img {
    margin-right: 0;
    max-width: 100%;
    order: 2;
  }
}
@media (max-width: 568px) {
  .about__content {
    order: 1;
  }
}
.about__title {
  max-width: 300px;
  margin-bottom: 37px;
}
.about__text {
  max-width: 402px;
  margin-bottom: 20px;
  color: #4c4c4c;
  font-family: "Arial MT";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.our-friends {
  width: 100%;
  background-color: #f6f6f6;
}
.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 15px;
}
.our-friends__title {
  max-width: 396px;
  text-align: center;
}
.our-friends__btt-get-to {
  padding: 20px 50px;
  min-height: 52px;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.02px;
  transition: 0.5s linear;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__btt-back {
  width: 15px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  padding: 20px;
  background: url("../Images/Our-friends_page/slider_btt-back.png") center no-repeat;
  transition: 0.5s linear;
}
.slider__btt-back:hover {
  background-color: #f1cdb3;
}
@media (max-width: 400px) {
  .slider__btt-back {
    display: none;
  }
}
.slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 66px 80px;
}
@media (max-width: 538px) {
  .slider__content {
    margin: 10px 20px;
  }
}
.slider__section {
  min-width: 270px;
  border-radius: 9px;
  background-color: #fafafa;
  padding: 33px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__section:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .slider__section-1 {
    display: none;
  }
}
@media (max-width: 873px) {
  .slider__section-2 {
    display: none;
  }
}
.slider__animals-img {
  max-width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
.slider__titl-namee {
  color: #545454;
  font-family: Georgia;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8125rem;
  text-align: center;
  letter-spacing: 0.075rem;
  margin-bottom: 24px;
}
.slider__btt-learn-more {
  min-height: 0.75rem;
  color: #292929;
  font-family: Georgia;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 3.5625rem;
  letter-spacing: 0.06375rem;
  padding: 0px 45px;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
  transition: 0.5s linear;
}
.slider__btt-learn-more:hover {
  background-color: #f1cdb3;
}
.slider__btt-next {
  width: 15px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  padding: 20px;
  background: url("../Images/Our-friends_page/slider-btt-next.png") center no-repeat;
}
.slider__btt-next:hover {
  background-color: #f1cdb3;
}
@media (max-width: 400px) {
  .slider__btt-next {
    display: none;
  }
}

.help__container {
  width: 100%;
  margin: 80px auto;
}
.help__titel {
  margin: 0px auto;
  text-align: center;
  max-width: 316px;
}
.help__content {
  margin-top: 80px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fit, minmax(170px, 1fr));
  justify-items: center;
  margin: 80px 82px;
  row-gap: 80px;
}
@media (max-width: 874px) {
  .help__content {
    margin: 40px 42px;
  }
}
@media (max-width: 624px) {
  .help__content {
    margin: 20px 12px;
  }
}
@media (max-width: 395px) {
  .help__content {
    grid-template: repeat(2, 1fr)/repeat(auto-fit, minmax(143px, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-06 {
  justify-self: end;
}
.card-07 {
  justify-self: end;
}
.card-08 {
  justify-self: end;
}
.card-09 {
  justify-self: end;
}
@media (max-width: 1044px) {
  .card-06, .card-07, .card-08, .card-09 {
    justify-self: stretch;
  }
}
.card__title {
  color: #545454;
  font-family: Georgia;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8125rem;
  text-align: center;
  letter-spacing: 0.075rem;
}

.donation {
  width: 100%;
  background-color: #f6f6f6;
}
.donation__container {
  padding: 80px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 893px) {
  .donation__container {
    flex-wrap: wrap;
  }
}
.donation__img {
  max-width: 100%;
  margin-right: 62px;
}
@media (max-width: 893px) {
  .donation__img {
    margin-right: 0;
    margin-top: 20px;
    order: 2;
  }
}
@media (max-width: 893px) {
  .donation__content {
    text-align: center;
    order: 1;
  }
}
.donation__title {
  max-width: 358px;
  margin-bottom: 35px;
  text-align: left;
}
@media (max-width: 893px) {
  .donation__title {
    text-align: center;
  }
}
@media (max-width: 782px) {
  .donation__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 376px) {
  .donation__title {
    max-width: 332px;
    font-size: 1.8rem;
  }
}
.donation__sub-title {
  color: #545454;
  font-family: Georgia;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.05625rem;
  margin-bottom: 13px;
}
.donation__card {
  min-height: 0.8125rem;
  color: #292929;
  font-family: "Times New Roman PSMT";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.075rem;
  display: inline-block;
  margin-bottom: 33px;
  padding-left: 60px;
  padding-right: 15px;
  background: url("../Images/donation_page/credit-card.svg") 14px center no-repeat;
  border-radius: 9px;
  background-color: #f1cdb3;
}
@media (max-width: 323px) {
  .donation__card {
    background: none;
    background-color: #f1cdb3;
    padding: 10px;
  }
}
.donation__text {
  color: #b2b2b2;
  font-family: Arial-ItalicMT;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  max-width: 351px;
}

main {
  flex: 1 1 auto;
}

.footer {
  line-height: 2;
  background: url("../Images/Main_page/Background-main-page.jpg") 0 0/cover no-repeat;
  width: 100%;
}
.footer__link {
  display: block;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 80px;
}
@media (max-width: 964px) {
  .footer__container {
    justify-content: space-around;
  }
}
@media (max-width: 964px) {
  .footer__img {
    display: none;
  }
}

.contact {
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact__title {
  max-width: 273px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.13125rem;
  margin-bottom: 45px;
}
.contact__item-01 {
  margin-bottom: 48px;
}
.contact__email {
  display: inline-block;
  color: #f1cdb3;
  font-family: "Times New Roman PSMT";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.075rem;
  padding-left: 62px;
  background: url("../Images/mail.svg") 0 0 no-repeat;
}
.contact__email:hover {
  text-decoration: underline;
}
.contact__telephone {
  display: inline-block;
  color: #f1cdb3;
  font-family: "Times New Roman PSMT";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.075rem;
  padding-left: 62px;
  background: url("../Images/telephone.svg") 0 0 no-repeat;
}
.contact__telephone:hover {
  text-decoration: underline;
}

.address {
  margin-bottom: 20px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 964px) {
  .address {
    margin-right: 0px;
  }
}
.address__title {
  max-width: 275px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.13125rem;
  margin-bottom: 45px;
}
.address__item-01 {
  margin-bottom: 34px;
}
.address .address-one {
  display: inline-block;
  max-width: 271px;
  color: #f1cdb3;
  font-family: "Times New Roman PSMT";
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
  padding-left: 46px;
  background: url("../Images/pin.svg") 0 0 no-repeat;
}
.address .address-one:hover {
  text-decoration: underline;
}
.address .address-two {
  display: inline-block;
  max-width: 291px;
  color: #f1cdb3;
  font-family: "Times New Roman PSMT";
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
  padding-left: 46px;
  background: url("../Images/pin.svg") 0 0 no-repeat;
}
.address .address-two:hover {
  text-decoration: underline;
}
