@font-face {
	font-family: "Arial MT";
	font-display: swap;
	src: url("../Fonts/arial.ttf");
}

@font-face {
	font-family: Arial-ItalicMT;
	font-display: swap;
	src: url("../Fonts/ariali.ttf");
}

@font-face {
	font-family: Georgia;
	font-display: swap;
	src: url("../Fonts/georgia.ttf");
}

@font-face {
	font-family: "Times New Roman PSMT";
	font-display: swap;
	src: url("../Fonts/times.ttf");
}