@import "_null_style";
@import "_variable";
@import "_fonts";
@import "_animation";

body {
    
    
}
.wrapper {
    min-width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
   
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
// --------------------------------------------
.logo {max-width: 100%;}

.lock {
    overflow: hidden;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    @media (max-width:480px) {
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 120%;
            background-color: #5e5373;
            z-index: 2;
            }
    }
    // .header__container

    &__container {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        @media (max-width:665px) {
            justify-content: space-around;
            line-height: 0;
        }
    }

    // .header__logo

    &__logo {
        margin-right: 5px;
        z-index: 5;
    }
    //.header__burger

    &__burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            right: 0;
            background-color: #f1cdb3;
            border-radius: 15px;
            transition: .3s linear;
        }

        span {
            position: absolute;
            background-color: #f1cdb3;
            border-radius: 15px;
            right: 0;
            top: 9px;
            width: 100%;
            height: 2px;
        }
        &::before {
           top: 0;
            
        }

        &::after {
            bottom: 0;
            
        }
        @media (max-width:480px) {
            display: block;
        }

        &-active::before {
            transform: rotate(45deg);
            top: 9px;
        }

        &-active::after {
            bottom: 9px;
            transform: rotate(-45deg);
        }

        .span-active {
            display: none;
        }
    }
}

.menu {
    transition: .3s linear;
    @media (max-width:480px) {
        position: fixed;
        padding-top: 80px;
        top: -100%;
        left: 0;
        text-align: right;
        width: 100%;
        height: 100%;
        background-color: #292929;
        z-index: 1;
    }
    

    
    
    // .menu__list

    &__list {
        position: relative;
        z-index: 2;
        
    }

    // .menu__item

    &__item {
        display: inline-block;
        margin-top: 32px;
        @media (max-width:665px) {
            margin-top: 10px;
        }
        @media (max-width:480px) {
            margin-top: 0px;
            display: block;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            margin-right: 40px;
            
        }
        
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }
    // .menu__link

    &__link {
        color: #cdcdcd;
        font-family: "Arial MT";
        font-size: 15 / 16 * 1rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 29  / 16 * 1rem;
        
        transition: 1s linear;
        &::after {
            content: "";
            display: block;
            opacity: 0;
            height: 3px;
            border-radius: 2px;
            background-color: $clr-btt;
            transition: .5s linear;
        }
        @media (max-width:480px) {
            font-size: 1.5rem;
        }
    }

    
    &__link:hover {
        color: $white;
        &::after {
            opacity: 1;
        }
    }
   
    
}
.menu-active {
    top: 0;
}
// --------------------------------------------
.main {
        background: url("../Images/Main_page/Background-main-page.jpg") fixed no-repeat;
        width: 100%;
        height: 100%;

		// .main__container

		&__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media (max-width:480px) {
                
                justify-content: center;
            }
            
		}

		// .main__img

		&__img {
            max-width:100%;
            padding-left: 10px;
            margin-right: -410px;
            &._active-anim {
                animation: 3s alternate opacity;
            }
            
            @media (max-width:665px) {
                // display: none;
                width: 100%;
                margin-right: -300px;
                margin-top: 40px;
            }
            @media (max-width:480px) {
                display: none;
            }
            
		}
        
		// .mian__content

		&__content {
            max-width: 443px;    
            padding-top: 80px;
           
            @media (max-width:665px) {
                padding: 100px 0px 50px;
                
                // text-align: center;
                
            }
            @media (max-width:480px) {
                margin: 0 auto;
                text-align: center;
            }
		}
}

// --------------------------------------------
.button {
    color: $clr-btt-txt;
    border-radius: 26px;
    background-color: $clr-btt;
    transition: .5s linear;
    &:hover {
        box-shadow: 0px 0px 20px #848484;
    }
}
.content {
        color: $white;
        font-family: Georgia;
		// .content__title

		&__title {
            font-size: 44 / 16 * 1rem;
            font-weight: 400;
            line-height: 57 / 16 * 1rem;
            letter-spacing: 2.64 / 16 * 1rem;
            margin-bottom: 46px;
            max-width: 346px;
            &._active-anim {
                animation: left_nomination_plus 2s;
            }
            
            
            @media (max-width:665px) {
                margin-bottom: 10px;
                font-size: 35 / 16 * 1rem;
            }
            @media (max-width:480px) {
                max-width: 327px;
                margin: 0 auto;
                // text-align: center;
            }
		}

		// .content__sub-title

		&__sub-title {
            margin-bottom: 44px;
            color: #cdcdcd;
            font-family: "Arial MT";
            font-size: 15 / 16 * 1rem;
            font-weight: 400;
            line-height: 24 / 16 * 1rem;
            
            
            &._active-anim {
                animation: left_nomination_plus 2.5s;
            }
            @media (max-width:665px) {
                font-size: 13 / 16 * 1rem;
                margin-bottom: 30px;
            }
		}

        

		// .content__button
        .main__button {
            &._active-anim {
                animation: left_nomination_plus 3s;
            }
            
            
        }
		&__button {
            padding: 20px 44px;
            font-family: Georgia;
            font-size: 17 / 16 * 1rem;
            font-weight: 400;
            line-height: 57 / 16 * 1rem;
            letter-spacing: 1.02 / 16 * 1rem;
            
            @media (max-width:665px) {
                font-size: 15 / 16 * 1rem;
                padding: 18px 42px;
            }
		}
}

.title {
    color: #545454;
    font-family: Georgia;
    font-size: 35 / 16 * 1rem;
    font-weight: 400;
    line-height: 45 / 16 * 1rem;
    letter-spacing: 2.1 / 16 * 1rem;
    @media (max-width:782px) {
        font-size: 1.8rem;
    }
    
}

// --------------------------------------------
.about {

    // .about__container

    &__container {
        margin: 90px auto;
        display: flex;
        
        justify-content: center;
        align-items: center;
        @media (max-width:568px) {
            margin: 30px auto;
            flex-wrap: wrap;
        }
        
    }

    // .about__img

    &__img {
        margin-right: 120px;
        max-width: 100%;
        &._active-anim {
            animation: bottom_nomination 1s;
        }
        
        @media (max-width:853px) {
            margin-right: 50px;
            
        }
        @media (max-width:782px) {
            max-width: 30%;
            
        }
        @media (max-width:568px) {
            margin-right: 0;
            max-width: 100%;
            order: 2;
        }
    }

    // .about__content

    &__content {
        @media (max-width:568px) {
            order: 1;
        }

    }

    // .about__title

    &__title {
        
        max-width: 300px;
        margin-bottom: 37px;
        &._active-anim {
            animation: right_nomination 3s;
        }
        
    }

    // .about__text

    &__text {
        
        max-width: 402px;
        margin-bottom: 20px;
        color: #4c4c4c;
        font-family: "Arial MT";
        font-size: 15 / 16 * 1rem;
        font-weight: 400;
        line-height: 24 / 16 * 1rem;
        &._active-anim {
            animation: right_nomination 4s;
        }
    }
}
// --------------------------------------------
.our-friends {
    width: 100%;
    background-color: #f6f6f6;
    // .our-friends__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 15px;
    }

    // .our-friends__title

    &__title {
        max-width: 396px;
        text-align: center;
        
        &._active-anim {
            animation: bottom_nomination 4s;
        }
    }

    // .our-friends__slider

    &__slider {
    }

    // .our-friends__btt-get-to

    &__btt-get-to {
        padding: 20px 50px;
        min-height: 52px;
        color: #292929;
        font-family: Georgia;
        font-size: 17px;
        font-weight: 400;
        
        
       
        letter-spacing: 1.02px;
        transition: 0.5s linear;
        
     
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    // .slider__btt-back

    &__btt-back {
        width: 15px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid #f1cdb3;
        padding: 20px;
        background: url("../Images/Our-friends_page/slider_btt-back.png") center no-repeat;
        transition: .5s linear;
        &:hover {
            background-color: #f1cdb3;
        }
        @media (max-width:400px) {
            display: none;
        }
    }

    // .slider__content

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 66px 80px;
        @media (max-width:538px) {
            margin: 10px 20px;
        }
    }

    // .slider__section

    &__section {
        min-width: 270px;
        border-radius: 9px;
        background-color: #fafafa;
        padding: 33px 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
            margin-right: 50px;
        }
        
    }
    &__section-1 {
        @media (max-width:1200px) {
            display: none;
        }
    }

    &__section-2 {
        @media (max-width:873px) {
            display: none;
        }
    }

    &__section-3 {
        
    }
    // .slider__animals-img

    &__animals-img {
        max-width: 100%;
        height: 270px;
        object-fit: cover;
        margin-bottom: 30px;
        
    }

    // .slider__titl-namee

    &__titl-namee {
        color: #545454;
        font-family: Georgia;
        font-size: 20 / 16 * 1rem;
        font-weight: 400;
        line-height: 45 / 16 * 1rem;
        text-align: center;
        letter-spacing: 1.2 / 16 * 1rem;
        margin-bottom: 24px;
    }

    // .slider__btt-learn-more
    
    &__btt-learn-more {
        min-height: 12 / 16 * 1rem;
        color: #292929;
        font-family: Georgia;
        font-size: 17 / 16 * 1rem;
        font-weight: 400;
        line-height: 57 / 16 * 1rem;
        letter-spacing: 1.02 / 16 * 1rem;
        
        padding: 0px 45px;
        border-radius: 26px;
        border: 2px solid #f1cdb3;
        transition: .5s linear;
        
        &:hover {
            background-color: #f1cdb3;
        }
    }

    // .slider__btt-next

    &__btt-next {
        width: 15px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid #f1cdb3;
        padding: 20px;
        background: url("../Images/Our-friends_page/slider-btt-next.png") center no-repeat;
        &:hover {
            background-color: #f1cdb3;
        }
        @media (max-width:400px) {
            display: none;
        }
    }
    }
   
.btn_animate {
    
    &._active-anim {
        animation: bottom_nomination 3s;
    }

}
// --------------------------------------------

.help {

    // .help__container

    &__container {
        width: 100%;
        margin: 80px auto;
    }

    // .help__titel

    &__titel {
        
        &._active-anim {
            animation: bottom_nomination 4s;
        }
        margin: 0px auto;
        text-align: center;
        max-width: 316px;
    }

    // .help__content

    &__content {
        margin-top: 80px;
        display: grid;
        grid-template: repeat(2,1fr) / repeat(auto-fit,minmax(170px, 1fr));
        justify-items: center;
        
        &._active-anim {
            animation: left_nomination_plus 2s;
        }
        margin: 80px 82px;
        row-gap: 80px;
        @media (max-width:874px) {
            margin: 40px 42px;
        }
        @media (max-width:624px) {
            margin: 20px 12px;
        }
        @media (max-width:395px) {
            grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(143px, 1fr));
        }
    }
    
    
}


.card {
    &-01 {
        
    }
    &-02 {
       
    }
    &-03 {
        
    }
    &-04 {
        
    }
    &-05 {
       
    }
    &-06 {
        justify-self:  end;
        
    }
    &-07 {
        justify-self: end;
        
    }
    &-08 {
        justify-self: end;
        
    }
    &-09 {
        justify-self: end;
    }
    @media (max-width:1044px) {
        &-06,&-07,&-08,&-09 {
            justify-self: stretch;
        }
                 
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // .card__img

    &__img {
        
    }

    // .card__title

    &__title {
       
        color: #545454;
        font-family: Georgia;
        font-size: 20 / 16 * 1rem;
        font-weight: 400;
       
        line-height: 45 / 16 * 1rem;
        text-align: center;
        
        letter-spacing: 1.2 / 16 * 1rem;
        
    }
}


// --------------------------------------------

.donation {
    width: 100%;
    background-color: #f6f6f6;
    // .donation__container

    &__container {
        padding: 80px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &._active-anim {
            animation: bottom_nomination 3s;
        }
        @media (max-width:893px) {
            flex-wrap: wrap;
        }
    }

    // .donation__img

    &__img {
        max-width: 100%;
        margin-right: 62px;
        @media (max-width:893px) {
            margin-right: 0;
            margin-top: 20px;
            order: 2;
        }
    }

    // .donation__content

    &__content {
        
        @media (max-width:893px) {
            text-align: center;
            order: 1;
        }
    }

    // .donation__title

    &__title {
        max-width: 358px;
        margin-bottom: 35px;
        text-align: left;
        @media (max-width:893px) {
            text-align: center;
           
        }
        @media (max-width:782px) {
            font-size: 2.5rem;
        }
        @media (max-width:376px) {
            max-width: 332px;
            font-size: 1.8rem;
        }
    }

    // .donation__sub-title

    &__sub-title {
        color: #545454;
        font-family: Georgia;
        font-size: 15 / 16 * 1rem;
        font-weight: 400;
        
        letter-spacing: 0.9 / 16 * 1rem;

        margin-bottom: 13px;
        
    }

    // .donation__card

    &__card {
        min-height: 13 / 16 * 1rem;
        color: #292929;
        font-family: "Times New Roman PSMT";
        font-size: 20 / 16 * 1rem;
        font-weight: 400;
        line-height: 45 / 16 * 1rem;
        
        letter-spacing: 1.2 / 16 * 1rem;
        display: inline-block;
        margin-bottom: 33px;
        padding-left: 60px;
        padding-right: 15px;
        
        background: url("../Images/donation_page/credit-card.svg") 14px center no-repeat;
        border-radius: 9px;
        background-color: #f1cdb3;
        @media (max-width:323px) {
            background: none;
            background-color: #f1cdb3;
            padding: 10px;
        }
    }

    // .donation__text

    &__text {
        color: #b2b2b2;
        font-family: Arial-ItalicMT;
        font-size: 12 / 16 * 1rem;
        font-weight: 400;
        line-height: 18 / 16 * 1rem;
        max-width: 351px;
    }
}


// --------------------------------------------
main {
    flex: 1 1 auto;
}
// --------------------------------------------
.footer {
    line-height: 2;
    background: url("../Images/Main_page/Background-main-page.jpg") fixed no-repeat;
    width: 100%;
    // .footer__link
    &__link {
        display: inline-block;
        color: #f1cdb3;
        font-family: "Times New Roman PSMT";
        font-size: 20 / 16 * 1rem;
        font-weight: 400;
        line-height: 45 / 16 * 1rem;
        letter-spacing: 1.2 / 16 * 1rem;
        padding-left: 62px;
        &:hover {
            text-decoration: underline;
        }
        
    }
    // .footer__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        padding-top: 80px;
        @media (max-width:964px) {
            justify-content: space-around;
        }
    }

    // .footer__contact

    &__contact {
        
    }

    // .footer__address

    &__address {
        
    }

    // .footer__img

    &__img {
        @media (max-width:964px) {
            display: none;
        }
    }
}
.contact {
    margin-right: 10px;
    margin-bottom: 20px;
    // .contact__title
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__title {
        max-width: 273px;
        color: #ffffff;
        font-family: Georgia;
        font-size: 35 / 16 * 1rem;
        font-weight: 400;
        line-height: 45 / 16 * 1rem;
        letter-spacing: 2.1 / 16 * 1rem;
        margin-bottom: 45px;

    }

    &__item-01 {
        margin-bottom: 48px;
        
    }
    // .contact__email

    &__email {
        
        background: url("../Images/mail.svg") 0 0 no-repeat;
        
        &:hover {
            text-decoration: underline;
        }
    }

    // .contact__telephone

    &__telephone {
        background: url("../Images/telephone.svg") 0 0 no-repeat;
        
    }
}
.address {
    margin-bottom: 20px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (max-width:964px) {
        margin-right: 0px;
    }
    // .address__title

    &__title {
        
        max-width: 275px;
        color: #ffffff;
        font-family: Georgia;
        font-size: 35 / 16 * 1rem;
        font-weight: 400;
        line-height: 45 / 16 * 1rem;
        letter-spacing: 2.1 / 16 * 1rem;
        margin-bottom: 45px;
    }
    &__item-01 {
        margin-bottom: 34px;
       
    }
    .address-one {
        max-width: 271px;
        padding-left: 46px;
        background: url("../Images/pin.svg") 0 0 no-repeat;
        
    }
    .address-two {
        max-width: 245+46px;
        padding-left: 46px;
        background: url("../Images/pin.svg") 0 0 no-repeat;
        
    }
}

